.flex-table{
    display:flex;
    flex-direction:column
}
.flex-row{
    display:flex;
    flex-direction:row
}
.flex-cell{
    border: solid 1px black;
    flex: 1 1 0;
    padding:5px
}
.flex-cell > *{
    width:100%;
    word-break: break-word;
}